@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Rampart+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;